.container-carro{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-style: italic;
}

.card-carro{
    width: 80vw;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    display: flex;
    margin-top: 1rem;
} 

.card-carro img {
    width: 300px;
}

.card-carro .detalhes{
    padding: 15px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-carro .detalhes button{
    width: 90%;
    height: 40px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.card-carro .detalhes button:hover{
    background-color: black;
}

.card-carro .detalhes .info {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}